[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
async-timeout = "*"
attrs = "*"
cffi = "*"
chardet = "*"
"discord.py" = "*"
idna = "*"
multidict = "*"
pqdict = "*"
pycparser = "*"
python-dotenv = "*"
six = "*"
yarl = "*"
PyNaCl = "*"
youtube_dl = "*"
sqlalchemy = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
